@import "../../_globalColor";

.freelance-roundedimg {
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 30px 0 0 -350px;
}
.small-dark {
  color: $textColorDark !important;
}
.freelance-container {
  border-radius: 10px;
  color: $FreelanceCardContainerColor;
  background-color: $lightBackground1;
  box-shadow: 0 0 36px $lightBoxShadow;
  cursor: pointer;
  height: 250px;
  text-align: center;
}
.freelance-title {
  color: $FreelanceCardTitleColor;
  font-size: 30px;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 14px; 
  margin-left: 200px;
}
.small { 
  font-size: 25px;
  font-weight: 400;
  color: $textColor;
  margin: 0px;
  margin-right: 120px;
}
.freelance-date {
  text-align: center;
  color: $textColor;
  font-size: 25px;
  margin: 15px;
  font-weight: 400;
  line-height: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-right: 120px;
}
.freelance-descBullets {
  font-size: 16px;
  text-align: left;
  margin-left: 175px;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: $buttonColor;
  border-radius: 0 4px 0 35px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: $textColorDark;
  font-family: courier, sans;
}
.freelance-card {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}
.freelance-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: $buttonColor;
  height: 120px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 80% 50%;
  transition: transform 0.4s ease-out;
}
.freelance-card:hover::before {
  transform: scale(30);
}
.freelance-card:hover > .small {
  transition: all 0.3s ease-out;
  color: $FreelanceCardHoverSmallColor;
}
.freelance-card:hover > h3 {
  transition: all 0.3s ease-out;
  color: $darkBoxShadow2;
}
.freelance-card-shadow {
  box-shadow: 1px 0px 20px $darkBoxShadow2;
}

/* Media Query */
@media (max-width: 1380px) {
  .freelance-roundedimg {
    margin: 30px 0 0 -280px;
  }
  .freelance-container {
    height: 220px;
  }
  .freelance-title {
    font-size: 25px;
  }
  .small {
    font-size: 20px;
    margin-right: 10px;
  }
  .freelance-date {
    font-size: 18px;
    margin-right: 30px;
    line-height: 1.5rem;
    margin-bottom: 5px;
    margin-top: -5px;
  }
  .freelance-descBullets {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .freelance-roundedimg {
    margin: 3% 0 0 -45%;
  }
  .freelance-container {
    height: 100%;
  }
  .freelance-title {
    font-size: 16px;
    margin: 3% 0 0 55%;
  }
  .small {
    font-size: 16px;
    margin: 3% 50% 0 55%;
  }
  .freelance-date {
    font-size: 13px;
    margin: 0 0 0 47%;
  }
  .freelance-descBullets {
    margin-top: 5px;
    font-size: 16px;
    margin: 2% 0 0 47%;
  }
}