@import "../../_globalColor";

.container {
  display: flex;
  justify-content: center;
}
.rectangle {
  background: url(../../assets/images/abdil.png);
  width: 300px;
  height: 300px;
  border-radius: 150px;
  box-shadow: 0px 20px 50px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rectangle:hover {
  box-shadow: 0 20px 40px $textColorDark;
}
.dark-rectangle {
  box-shadow: 0px 0px 20px 0px;
}

/* Media Query */
@media (max-width: 1380px) {
  .rectangle {
    background: url(../../assets/images/abdil.png);
    background-position: -25px -5px;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    box-shadow: 0px 10px 50px $darkBoxShadow;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .rectangle:hover {
    box-shadow: 0 30px 50px $textColorDark;
  }
}

@media (max-width: 768px) {
  .mask {
    clip-path: none;
    position: relative;
  }
  .about-card-title {
    margin-top: 30px;
  }
  .about-card-image {
    width: 100%;
  }
  .square {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}